<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>FeatureLayer On Demand</title>

    <link rel="stylesheet" href="https://js.arcgis.com/3.17/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.17/esri/css/esri.css">
    <style>
        html, body, #mapDiv {
            padding:0;
            margin:0;
            height:100%;
        }
    </style>
    <script src="https://js.arcgis.com/3.17/"></script>
    <script>
        var map;
        require([
            "esri/map", "esri/InfoTemplate", "esri/layers/FeatureLayer",
            "dojo/parser","esri/tasks/query","esri/layers/GraphicsLayer", "esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleFillSymbol", "esri/graphic","esri/Color", "dojo/on", "dojo/domReady!"
        ], function(
                Map, InfoTemplate, FeatureLayer,
                parser, Query, GraphicsLayer, SimpleLineSymbol, SimpleFillSymbol, Graphic, Color, on
        ) {
            parser.parse();
            var featureLayer;
            var map = new Map("mapDiv", {
                basemap: "gray",
                center: [173, -41],
                zoom: 12
            });

            map.on("load", initOperationalLayer);

            map.on('layer-add-result', function(layer){
                if(layer.layer===featureLayer){
                    console.log(layer);
                    var query = new Query();
                    query.outFields = ["*"];
                    query.text = "ATCT - Inland tk junct. to Anchorage tk";
                    featureLayer.selectFeatures(query, FeatureLayer.SELECTION_NEW, function(response){
                        console.log(response);
                    }, function(error){
                        console.log(error);
                    });
                }

            });


/*
            map.on('onZoomEnd', function() {
                var maxOffset = calcOffset();
                featureLayer.setMaxAllowableOffset(maxOffset);
            });

            function calcOffset() {
                return (map.extent.getWidth() / map.width);
            }
*/
            function initOperationalLayer() {
                var infoTemplate = new InfoTemplate("${DESCRIPTION}", "Population (2000):  ${URL}");
                featureLayer = new FeatureLayer("http://maps.doc.govt.nz/arcgis/rest/services/DTO/WalkingAndTramping/MapServer/1",{
                    mode: FeatureLayer.MODE_ONDEMAND,
                    //maxAllowableOffset: calcOffset(),
                    outFields: ["*"],
                    infoTemplate: infoTemplate
                });

                map.infoWindow.resize(155, 75);

                var fieldsSelectionSymbol =
                                new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                                        new Color([128, 255, 0]), 3);
                featureLayer.setSelectionSymbol(fieldsSelectionSymbol);
                map.addLayer(featureLayer);

            }
        });
    </script>
</head>
<body class="claro">
<div id="mapDiv">
    <div id="mapDiv_graphics"></div>
</div>
</body>
</html>
